@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  color: #1C3144;
  background-color: #fff;
}

a {
  color: #1C3144;
  text-decoration: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1C3144;
  opacity: 0.75;
}

.pageWrap {
  overflow: hidden;
}

nav.navbar {
  background: transparent;
  padding: 25px 0;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #1c314433;
  max-height: 90px;
}

.container {
  max-width: 1144px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  width: 123px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-nav a.nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #1C3144;
  margin-left: 15px;
  margin-left: 30px;
  padding: 8px 5px !important;
  position: relative;
  z-index: 1;
}

.navbar-nav a.nav-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 5px;
  width: 100%;
  transition: .3s ease all;
  background: #FFC914;
  display: block;
  height: 10px;
  top: unset;
  opacity: 0;
}

.navbar-nav a.nav-link:hover:after {
  opacity: 1;
}

button.SaveModal.btn.btn-primary,
.approveBtn,
button#dropdown-enterApp,
.enterApp {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  display: inline-flex;
  align-items: center;
  color: #1C3144;
  background: #FFC914;
  border: 2px solid #1C3144;
  border-radius: 4px;
  padding: 5.5px 10px;
  transition: .3s ease all;
  text-transform: uppercase;
}

button.SaveModal.btn.btn-primary img,
.approveBtn img,
button#dropdown-enterApp img,
.enterApp img {
  display: block;
  margin-left: 5px;
}

button.SaveModal.btn.btn-primary:hover,
.approveBtn:hover,
button#dropdown-enterApp:hover,
.enterApp:hover {
  color: #1C3144;
  border-color: #FFC914;
  cursor: pointer;
}

button#dropdown-enterApp:after {
  display: none;
}

section.home_banner {
  position: relative;
  z-index: 1;
  padding: 235px 0 40px;
  background-image: url("assets/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
}

h1.page_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  margin-bottom: 16px;
}

.bannerContent_top {
  max-width: 820px;
}

.bannerContent_top p {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 30px;
}

.banner_bottom {
  margin-top: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  justify-self: center;
  align-self: center;
}

.Caption{
  display: inline-flex;
  justify-self: center;
  align-self: center;
}

.flexBox{
  display: flex;
  align-items: center;
  justify-content: left;
}

ul.social {
  display: flex;
  align-items: center;
}

ul.social li a {
  display: block;
  margin-right: 40px;
  transition: .3s;
}

ul.social li a:hover {
  opacity: .8;
}

.gitUrl {
  text-decoration: none;
  color: #1C3144;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  transition: .3s;
}

.gitUrl img {
  margin-right: 8px;
}

.gitUrl:hover {
  opacity: .8;
  color: #1C3144;
}

section.tokken_area {
  background: #35CE8D;
  padding: 22px 15px;
  max-height: 120px;
}

.tokken_list {
  max-width: 1756px;
  margin: 0 auto;
}

.text_art {
  display: inline-block;
  position: relative;
}

.text_art:after {
  background: #FFC914;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: auto;
  bottom: 0;
  height: 42%;
  right: -10px;
  content: "";
  display: block;
}

h1.page_title .text_art:after {
  height: 37%;
}

section.feature_box_area {
  padding: 180px 0 55px;
}

section.feature_box_area .container {
  max-width: 1140px;
}

section.feature_box_area .container .col-lg-3.col-md-6.col-sm-6.col-12 {
  max-width: 244px;
}

section.feature_box_area .container .row {
  justify-content: space-between;
  margin: 0 -37px;
}

section.feature_box_area .col-lg-3.col-md-6.col-sm-6.col-6 {
  margin-bottom: 50px;
  padding: 0 37px;
}

.feature_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.feature_box a.readMore {
  margin-top: auto;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

img.feature_img {
  height: 80px;
  display: block;
  margin-bottom: 34px;
}

.feature_box p {
  margin-top: 22px;
  margin-bottom: 29px;
}

a.readMore {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  z-index: 1;
  padding-left: 3px;
  padding-right: 3px;
}

a.readMore:hover {
  color: #1C3144;
}

a.readMore:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -2px;
  right: 0;
  height: 8px;
  display: block;
  background-color: #FFC914;
  transition: .3s ease all;
  opacity: 0;
}

a.readMore:hover:after {
  opacity: 1;
}

section.emmetBridge_area {
  padding: 100px 0;
}

h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}

.emmetBridge_content_area p {
  margin: 29px 0 20px;
}

ul.dotList {
  padding: 0;
  margin: 0;
}

ul.dotList li {
  position: relative;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 0 6px 20px;
  color: #1C3144;
  opacity: 0.75;
}

ul.dotList li:before {
  background-color: transparent;
  border: 1px solid #35CE8D;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s ease all;
}

.emmetBridge_content_area ul.dotList li {
  margin-bottom: 0;
  padding: 3px 0 3px 20px;
  margin-top: 2px;
}

.emmetBridge_content_area ul.dotList li:before {
  background-color: #35CE8D;
}

.roadMap_item:hover li:before,
.activemap ul.dotList li:before {
  background-color: #35CE8D;
}

.emmetFromTo p {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #1C3144;
  opacity: 0.5;
  margin: 0;
}

.emmetFromTo> p {
  margin-bottom: 8px !important;
}

.labelText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.labelText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

p.label.label2 {
  opacity: 1;
}

p.label.label2 span {
  opacity: .5;
}

.lineBox {
  margin-top: 19px;
  position: relative;
}

.emmetFrom {
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #35CE8D;
  border-radius: 8px;
}

.emmetFromtop {
  position: relative;
  z-index: 2;
}

.emmetFrom>div {
  padding: 10px 20px 10px 20px;
  width: 50%;
  flex-shrink: 0;
  position: relative;
}

img.updownCircle {
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
}

.updownCircle:hover{
  transform: scale(110%);
}

.emmetFrom>div label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
  font-family: Montserrat;
  margin-bottom: 10px;
  white-space: nowrap;
}

.emmetFrom>div select {
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  appearance: none;
}

img.selectArrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.EmmetBridge_title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EmmetBridge_title h2 {
  margin: 0;
}

.max-button {
  cursor: pointer;
}

.max-button:hover{
  transform: scale(120%);
}

.coming-soon{
  background-color: #20c997;
  color: white;
  font-size: x-small;
  border-radius: 5px;
  align-content: center;
  margin-left: 5px;
  padding: 5px;
}

button.copyBridge {
  border: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.copyBridge:hover{
  transform: scale(120%);
}

.EmmetBridge_Box {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(28, 49, 68, 0.25);
  border-radius: 16px;
  max-width: 580px;
  position: relative;
  z-index: 2;
}

.emmetFrom.amountMax {
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

.emmetFrom.amountMax>input {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  height: 36px;
  flex-grow: 1;
}

.emmetFrom.amountMax>input::-webkit-outer-spin-button,
.emmetFrom.amountMax>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.emmetFrom.amountMax>input[type=number] {
  -moz-appearance: textfield;
}

.emmetFrom.amountMax p {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 0 auto;
}

.emmetBridge_content_area {
  padding-left: 5%;
  position: relative;
  z-index: 1;
  margin-top: 180px;
}

.emmetBridge_content_area:after {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1000vw;
  background: #35CE8D;
  opacity: 0.05;
  content: "";
  transform: translate(-50%);
  display: none;
}

section.oneStop_area {
  padding: 66px 0 27px;
}

.title_center {
  text-align: center;
  margin-bottom: 70px;
}

section.oneStop_area .title_center {
  margin-bottom: 93px;
}

section.oneStop_area .row {
  margin: 0 -20px;
}

section.oneStop_area .row>div {
  padding: 0 20px;
}

section.oneStop_area .title_center {
  margin-bottom: 93px;
}

.oneStopBox {
  position: relative;
  z-index: 1;
  padding: 42px 30px 30px 30px;
  border: 2px solid #9AE6C6;
  height: 100%;
  background-color: #fff;
  transition: .3s ease all;
}

.oneStopBox:hover {
  border-color: #fff;
  box-shadow: 0 0 20px #ddd;
}

section.oneStop_area .container>.row>div {
  margin-bottom: 73px;
}

.oneStopBox h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  padding: 8px;
  top: -23px;
  position: absolute;
  left: 22px;
}


.oneStopBox h3:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  background: #fff;
  height: 2px;
}


section.typeScriot_area {
  padding: 80px 0 180px 0;
}

img.apiImg {
  /* box-shadow: 0px 0px 32px rgba(28, 49, 68, 0.25); */
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 106%;
}

.typeScript_content>h2 {
  margin-bottom: 30px;
}

.accordion-item {
  border: 0;
  outline: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #1c314433;
  background: transparent;
}

.accordion-item:first-of-type {
  border-top: 1px solid #1c314433;
}

.accordion-button {
  padding: 21px 20px;
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background: transparent;
  text-transform: capitalize;
}

.accordion-button:hover {
  color: #808C96 !important;
}

.accordion-button:not(.collapsed) {
  background: #fff;
  color: #1C3144;
  box-shadow: none;
}

.accordion-button:focus {
  border: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0);
}

.accordion-button::after {
  background-image: url("assets/img/chevronDown.svg") !important;
}

.accordion-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1C3144;
  opacity: 0.75;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 30px;
  background-color: #fff;
}

.toAccount ul li {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.toAccount .enterApp {
  display: flex;
  max-width: fit-content;
  margin: 49px auto 0 auto;
}

section.security_area {
  padding: 70px 0 50px 0;
  background: rgb(53 206 141 / 5%);
}

section.security_area .row {
  margin: 0 -40px;
}

section.security_area .row>div {
  padding: 0 40px;
}

img.securityImg {
  display: block;
  height: 80px;
  margin-bottom: 35px;
}

.securityBox h3 {
  margin-bottom: 8px;
}

.securityBox {
  margin-bottom: 73px;
}

section.roadMap_area {
  padding: 70px 0;
}

.roadMap_box {
  display: flex;
  align-items: center;
  position: relative;
  height: 2px;
  background: #1C3144;
  justify-content: space-between;
  margin: 337px 0 270px 0;
}

.roadMap_item_content ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #1C3144;
  opacity: 0.75;
  padding: 0px 0 0px 20px;
  margin-bottom: 14px;
}

.roadMap_item_content ul li:last-child {
  margin-bottom: 0;
}

.roadMap_item_content h3 {
  margin-bottom: 10px;
}

.roadMap_item {
  max-width: 240px;
  width: 25%;
  position: relative;
}

.roadmapPosition {
  margin: 0 auto;
  border: 2px solid #35CE8D;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  box-shadow: 0 0 0px 10px #fff;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: .3s ease all;
}

.roadmapPosition img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 8px;
  background: #fff;
  border-radius: 50%;
  transition: .3s ease all;
}

.activemap .roadmapPosition img,
.roadMap_item:hover .roadmapPosition img {
  opacity: 0;
}

.activemap .roadmapPosition {
  background: #35CE8D;
  color: #fff;
}

.roadMap_item:hover .roadmapPosition {
  border-color: #000;
}

.activemap.roadMap_item:hover .roadmapPosition {
  border-color: #35CE8D;
}

.roadMap_item:hover .roadMap_item_content {
  opacity: 1;
}

.roadMap_item_content {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: .5;
  transition: .3s ease all;
}

.roadMap_item1 .roadMap_item_content {
  bottom: 100%;
  margin-bottom: 60px;
}

.roadMap_item2 .roadMap_item_content {
  top: 100%;
  margin-top: 60px;
}

.roadMap_item3 .roadMap_item_content {
  bottom: 100%;
  margin-bottom: 60px;
}

.roadMap_item4 .roadMap_item_content {
  top: 100%;
  margin-top: 60px;
}

.activemap .roadMap_item_content {
  opacity: 1;
}

.roadMap_item4 .roadMap_item_content:after,
.roadMap_item3 .roadMap_item_content:after,
.roadMap_item2 .roadMap_item_content:after,
.roadMap_item1 .roadMap_item_content:after {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -15px;
  right: 0;
  height: 1px;
  background: #35CE8D;
  content: "";
}

.roadMap_item4 .roadMap_item_content:before,
.roadMap_item3 .roadMap_item_content:before,
.roadMap_item2 .roadMap_item_content:before,
.roadMap_item1 .roadMap_item_content:before {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 40px;
  content: "";
  background: #35CE8D;
  top: 100%;
  margin-top: 14px;
}

.roadMap_item4 .roadMap_item_content:before,
.roadMap_item4 .roadMap_item_content:after,
.roadMap_item3 .roadMap_item_content:before,
.roadMap_item3 .roadMap_item_content:after,
.roadMap_item2 .roadMap_item_content:before,
.roadMap_item2 .roadMap_item_content:after,
.roadMap_item1 .roadMap_item_content:before,
.roadMap_item1 .roadMap_item_content:after {
  opacity: 0;
  transition: .3s ease all;
}

.roadMap_item4:hover .roadMap_item_content:before,
.roadMap_item4:hover .roadMap_item_content:after,
.roadMap_item3:hover .roadMap_item_content:before,
.roadMap_item3:hover .roadMap_item_content:after,
.roadMap_item2:hover .roadMap_item_content:before,
.roadMap_item2:hover .roadMap_item_content:after,
.roadMap_item1:hover .roadMap_item_content:before,
.roadMap_item1:hover .roadMap_item_content:after,
.activemap .roadMap_item_content:before,
.activemap .roadMap_item_content:after {
  opacity: 1;
}

.roadMap_item4 .roadMap_item_content:before,
.roadMap_item2 .roadMap_item_content:before {
  top: auto;
  bottom: 100%;
  margin-bottom: 10px;
}

.roadMap_item4 .roadMap_item_content:after,
.roadMap_item2 .roadMap_item_content:after {
  top: auto;
  bottom: 100%;
  margin-bottom: 10px;
}

.roadMap_box::before,
.roadMap_box::after {
  position: absolute;
  height: 2px;
  top: 0;
  width: 50vw;
  content: "";
  right: 100%;
  left: auto;
  background-image: url("assets/img/border.svg");
  background-repeat: repeat;
  background-size: contain;
}

.roadMap_box::after {
  left: 100%;
  right: unset;
}

section.faq_area {
  padding: 80px 0 150px;
  background: rgb(53 206 141 / 5%);
  position: relative;
  z-index: 1;
}

.footer_top {
  background: #1C3144;
}

.footerTopWidget {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 35px 0;
}

.footerTopWidget p {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.footer_bottom {
  padding: 80px 0 3px 0;
  background: linear-gradient(0deg, rgba(28, 49, 68, 0.75), rgba(28, 49, 68, 0.75)), url(assets/img/footer-bg.jpg);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 500px;
}

.footerWdiget h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 27px;
}

ul.footer_social {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

ul.footer_social li:not(:last-child) {
  margin-right: 20px;
}

ul.footer_social li a {
  display: block;
  transition: .3s ease all;
}

ul.footer_social li a:hover {
  opacity: .8;
}

ul.quickLinks li a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

ul.quickLinks li {
  margin-bottom: 7px;
}

.footerWdiget {
  margin-bottom: 21px;
}

.copuright_logo {
  display: flex;
  align-items: center;
}

.copuright_logo>img {
  display: block;
  margin: 0 auto;
}

.copuright_logo::before,
.copuright_logo::after {
  display: block;
  width: calc(50% - 40px);
  height: 1px;
  background: #FFFFFF;
  opacity: 0.25;
  content: "";
}

.copuright {
  padding: 32px 0 29px 0;
}

.copuright p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  color: #fff;
  margin: 25px 0 0 0;
}

.emmetFrom button.btn {
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #1C3144 !important;
  border-radius: unset;
  font-family: Montserrat;
}

.emmetFrom button.btn::after {
  display: none;
}

.emmetFrom button.btn:active {
  background: transparent;
}

.emmetFrom .dropdown-item.active,
.emmetFrom .dropdown-item:active {
  background-color: #e9ecef;
  color: #1C3144;
}

.tokken_item {
  padding: 10px 0;
}

.tokken_item img {
  display: block;
  margin: 0 auto;
  transition: .3s ease all;
}

.tokken_item img:hover {
  transform: scale(1.3);
}

img.coinLogo {
  height: 20px;
  max-width: 100px;
  object-fit: contain;
  width: 20px;
  margin-right: 5px;
}

.toAccount h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.home_banner>video,
video#bannerVideo {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tokken_item.transtion0 img {
  transition: .1s;
}

span.amountHeight {
  height: 20px;
  display: block;
}

.emmetTokken {
  position: relative;
  z-index: 1;
}

.emmetTokken:after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  right: -20px;
  left: auto;
  top: 10px;
  bottom: 10px;
  background: #D9D9D9;
}

.footer_bottom .row {
  justify-content: space-between;
}

.footer_bottom .container {
  max-width: 1140px;
}

.footer_bottom .row>div:nth-child(2),
.footer_bottom .row>div:nth-child(3),
.footer_bottom .row>div:nth-child(4) {
  max-width: 222px;
  margin-left: 53px;
}

.footer_bottom .row>div:nth-child(4) {
  margin-right: auto;
  margin-left: 60px;
}


.colInput label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #1C3144;
  opacity: 0.5;
  margin: 0 0 9px 0;
}

.colInput input,
.colInput textarea,
.colInput select {
  border-width: 2px;
  border-style: solid;
  border-color: #35CE8D;
  border-radius: 8px;
  padding: 10px;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: none;
  height: 50px;
}

.colInput {
  margin-bottom: 20px;
}

.colInput textarea {
  height: 100px;
}


.form_waprer {
  padding: 140px 0 80px 0;
}

.radioBox {
  gap: 25px;
  display: flex;
  align-items: center;
}

.radioBox input {
  width: auto;
  display: none;
}

.radioCheck label {
  font-size: 18px;
  border: 2px solid #35CE8D;
  padding: 10px 15px;
  text-align: center;
  min-width: 80px;
  border-radius: 5px;
  transition: .3s ease all;
  color: #1C3144;
  opacity: 0.5;
  cursor: pointer;
  margin: 0;
}

.radioCheck input:checked+label {
  background: #35CE8D;
  color: #fff;
  border-color: #35CE8D;
}

#popup1 .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1 .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

#popup1 .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

#popup1 .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#popup1 .popup .close:hover {
  color: #06D85F;
}

#popup1 .popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  #popup1 .box {
    width: 70%;
  }

  #popup1 .popup {
    width: 70%;
  }
}

.privacyPolicyContainer {
  padding: 170px 0 70px 0;
  background-color: rgb(53 206 141 / 5%);
}

.pripoContent {
  padding: 70px 80px 48px 78px;
  background-color: #fff;
}

.pripoContent h1 {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
  margin-bottom: 60px;
}

.pripoContent p {
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: justify;
  color: #1c3144;
  margin: 0 0 26px 0;
}

.pripoContent h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
  margin-bottom: 30px;
  margin-top: 35px;
}

.mobileMenu {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 1;
  gap: 10px;
}

.moreDrop.dropdown .dropdown-menu,
.address_Dropdown.dropdown .dropdown-menu,
.mobileDropdown .dropdown-menu,
.tokkenDrop .dropdown-menu,
.bridgeDrop .dropdown-menu,
.enterAppDropdown .dropdown-menu {
  width: 250px;
  right: -10px !important;
  left: auto !important;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 32px 0 rgba(28, 49, 68, 0.25);
  border: 0;
  padding: 0;
  margin-top: 0;
  z-index: 99;
}

.moreDrop.dropdown .dropdown-menu .dropdown-item,
.address_Dropdown.dropdown .dropdown-menu .dropdown-item,
.mobileDropdown .dropdown-menu .dropdown-item,
.tokkenDrop .dropdown-menu .dropdown-item,
.bridgeDrop .dropdown-menu .dropdown-item,
.enterAppDropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding: 10px 20px;
  transition: .3s ease all;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
  font-family: Montserrat;
}

.moreDrop.dropdown .dropdown-menu .dropdown-item:hover,
.moreDrop.dropdown .dropdown-menu .dropdown-item:active,
.mobileDropdown .dropdown-menu .dropdown-item:active,
.tokkenDrop .dropdown-menu .dropdown-item:active,
.bridgeDrop .dropdown-menu .dropdown-item:active,
.enterAppDropdown .dropdown-menu .dropdown-item:active,
.mobileDropdown .dropdown-menu .dropdown-item:hover,
.tokkenDrop .dropdown-menu .dropdown-item:hover,
.bridgeDrop .dropdown-menu .dropdown-item:hover,
.enterAppDropdown .dropdown-menu .dropdown-item:hover,
.enterAppDropdown .dropdown-menu .dropdown-item.active {
  background-color: #f4f5f6;
}

.dropdown-toggle::after {
  border: 0 !important;
  background-color: transparent;
  background-image: url("assets/img/new/down.svg");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.moreDrop.dropdown .dropdown-menu::before,
.mobileDropdown .dropdown-menu::before,
.tokkenDrop .dropdown-menu::before,
.bridgeDrop .dropdown-menu::before,
.enterAppDropdown .dropdown-menu::before {
  width: 20px;
  height: 10px;
  background: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  position: absolute;
  bottom: 100%;
  right: 22px;
  margin-bottom: -1px;
}

.tokkenDrop .dropdown-menu,
.bridgeDrop .dropdown-menu {
  right: -20px !important;
  margin-top: 2px !important;
  left: -20px !important;
  width: auto;
}

.bridgeDrop .dropdown-menu::before {
  right: 19px;
}

.tokkenDrop .dropdown-menu::before {
  right: 19px;
}

.dropSearch from {
  display: contents;
}

.dropSearch {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  border: solid 1px #35ce8d;
  gap: 10px;
  padding: 0 7px;
  width: calc(100% - 20px);
  margin: 10px auto 10px auto;
}

.dropSearch form {
  display: contents;
}

.dropSearch button {
  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  outline: none;
  margin-top: -3px;
}

.dropSearch input[type="search"] {
  width: 50%;
  flex-grow: 1;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
  color: #1c3144;
}

.dropSearch input[type="search"]::placeholder {
  font-style: italic;
}

.tokkenDrop .dropdown-menu .dropdown-item {
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
  z-index: 1;
}

.tokkenDrop .dropdown-menu .dropdown-item p {
  margin: 0;
  opacity: 1;
}

.tokenIconTit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hoverIcons {
  position: absolute;
  right: 10px;
  top: 9px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: .3s ease all;
  opacity: 0;
  visibility: hidden;
}

.hoverIcons button {
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.tokkenDrop .dropdown-menu .dropdown-item:hover .hoverIcons {
  opacity: 1;
  visibility: visible;
}

.tokkenDrop .dropdown-menu .dropdown-item p.tokkenValue {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.tokkenDrop .dropdown-menu .dropdown-item p.tokkenValue span {
  opacity: .5;
}

.dropdown-menu .dropdown-item>img,
.tokenIconTit img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: center;
}

.progress .bg-success {
  background-color: #9ae6c6 !important;
  overflow: hidden;
}

.progress {
  height: 8px !important;
}

.progress .progress-bar-striped {
  background-image: linear-gradient(45deg, #35ce8d 25%, transparent 25%, transparent 50%, #35ce8d 50%, #35ce8d 75%, transparent 75%, transparent);
}

.labelText p.label.label1.infoLabel {
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.labelText p.label.label1.infoLabel>span {
  opacity: .5;
}

.inline {
  display: inline;
}

.m-l-5 {
  margin-left: 5px;
}

.inofText {
  position: relative;
  z-index: 1;
}

.inofText>span {
  position: absolute;
  z-index: 1;
  padding: 12px 20px 14px 20px;
  border-radius: 16px;
  background-color: #1c3144;
  color: white;
  font-weight: 400;
  width: 340px;
  height: 70px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  bottom: 100%;
  margin-bottom: 10px;
  left: -161px;
  transition: .3s ease all;
  opacity: 0;
  visibility: hidden;
}

.inofText>span b {
  font-weight: 400;
  color: #f25f5c;
}

.inofText>span:after {
  content: "";
  display: block;
  background-color: #1c3144;
  width: 20px;
  height: 10px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  top: 100%;
  margin-top: -1px;
  left: 161px;
}

.inofText:hover span {
  opacity: 1;
  visibility: visible;
}

.bridgeCalculation {
  display: flex;
  border-radius: 8px;
  background-color: rgb(28 49 68 / 5%);
  padding: 14px 20px;
  margin-top: 19px;
}

p.warningText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #f25f5c;
  padding: 3px 0 0 0;
  /* display: none; */
}

.warningTextItem {
  display: block;
}

.calculateBox {
  width: 33.333%;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.calculateBox span {
  font-size: 12px;
  color: #8d98a1;
  display: block;
  font-weight: bold;
}

.calculateBox a {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #35ce8d;
  display: inline-block;
  margin-left: 3px;
}

.approvingLoading {
  padding: 18px 20px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
}

.approvingLoading .progress {
  margin-top: 9px;
}

.approveBox {
  padding: 18px 20px;
}

.approveBox p {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

p.approveText {
  margin-bottom: 8px;
  color: #8d98a1;
}

span.color-red {
  color: #f25f5c;
}

span.color-green {
  color: #35ce8d;
}

p.viewHash a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #35ce8d;
}

.dualBtns {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.disabled {
  border: solid 2px #8d98a1;
  background-color: #f4f5f6;
  color: #8d98a1;
  pointer-events: none;
}

.disabled img {
  opacity: .5;
}

button.changeSLip:active,
button.changeSLip,
button.changeSLip:hover {
  background: transparent !important;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #35ce8d !important;
  text-decoration: underline;
  margin-left: 6px;
}

.modal-header {
  padding: 20px 0;
  border: 0 !important;
}

.modal-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.modal-body {
  padding: 20px 0 !important;
}

.modal-content {
  padding: 20px 40px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 0 32px 0 rgba(28, 49, 68, 0.25);
  background-color: #fff;
}

button.cancelModal.btn.btn-primary {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.toleranceBtns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.toleranceBtns> input {
  display: none;
}

.toleranceBtns> label {
  border-radius: 8px;
  background-color: #f4f5f6;
  width: 60px;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  transition: .3s ease all;
  cursor: pointer;
  flex-grow: 1;
}

.toleranceBox {
  display: flex;
  width: 94px;
  border-radius: 8px;
  border: solid 1px #35ce8d;
  height: 40px;
  align-items: center;
  padding: 0 10px;
}

.toleranceBox input {
  width: 50%;
  flex-grow: 1;
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
}

.toleranceBox input::-webkit-outer-spin-button,
.toleranceBox input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.toleranceBox input[type=number] {
-moz-appearance: textfield;
}

.toleranceBtns> input:checked + label {
  background-color: #35ce8d;
  color: #fff;
}

.toleranceBox input::placeholder {
  font-style: italic;
}

.modal-header .btn-close {
  opacity: 1;
  width: 17px !important;
  height: 17px !important;
  padding: 0 !important;
  background-size: contain;
}

.checked {
  background-image: url(assets/img/new/checkbold.svg);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.current {
  background-image: url(assets/img/new/routing.svg);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;  
  background-color: #35ce8d;
}


.transactionDetails {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(28, 49, 68, 0.25);
  border-radius: 16px;
  max-width: 580px;
  position: relative;
  z-index: 2;
}

.detailsTitle {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
  text-align: center;
  margin-bottom: 40px;
}

.transactionContainer label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

ul.transaction_box {
  margin: 0;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(28 49 68 / 5%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.transaction_box li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.transaction_box li> div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leftText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
}

ul.transaction_box li:first-child .leftText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.rightText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.transactionContainer {
  margin-bottom: 40px;
}

.progressLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.steepLine label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
  display: block;
  position: absolute;
  top: 100%;
  margin-top: 8px;
}

.steepLine {
  width: 40px;
  height: 40px;
  border: solid 2px #35ce8d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #1c3144;
}

.steepLine.current label {  
  color: #1c3144;
  font-weight: bold;
}

.current span, .checked span {
  color: #8d98a100;
}

.cancelBtn.enterApp {
  justify-content: center;
  width: 90%;
  max-width: 230px;
}

.steepLine:after {
  position: absolute;
  z-index: 1;
  display: block;
  background: #35ce8d;
  content: "";
  width: 80px;
  height: 2px;
  left: 100%;
  margin-left: 18px;
  top: 19px;
}

.steepLine:last-child:after {
  display: none;
}

.TransonDetaHide {
  display: none;
}

button.copyAddress {
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.container {
  max-width: 1145px !important;
}

.navbar.bridgeheader>.container {
  max-width: 100% !important;
  padding: 0 30px;
}

.emmetBridgeContainer {
  padding: 130px 0 40px 0;
}

.emmetBridgeContainer .EmmetBridge_Box {
  margin: 0 auto;
}

.emmetBridgeContainer .transactionDetails {
  margin: 0 auto;
}

.address_Dropdown.dropdown button#addressDropdown {
  display: block;
  width: 100%;
  padding: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 0;
}

.address_Dropdown.dropdown button#addressDropdown:after {
  display: none;
}

.address_Dropdown.dropdown .dropdown-menu {
  display: none !important;
}

button#coin_Drop {
  background: transparent;
  border: 0;
  padding: 5px 25px 5px 5px;
  border-radius: 8px;
  background-color: #f4f5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

img.BinanceIcon {
  padding: 5px;
  border-radius: 4px;
  background-color: #1c3144;
}

.mobileDropdown.coinDrop.dropdown .dropdown-toggle::after {
  right: 0;
}

.dropdown-toggle{
  width: 100%;
}

button#languageDrop {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 40px;
  padding: 0;
  padding: 10px;
}

.mobileDropdown.languageDrop .dropdown-menu {
  right: auto !important;
  left: -77px !important;
  width: 340px;
  max-width: calc(100vw - 30px);
}

.mobileDropdown.languageDrop .dropdown-menu::before {
  left: 87px;
  right: auto;
}

.mobileDropdown.coinDrop .dropdown-menu {
  left: auto;
  right: -157px !important;
  width: 344px;
  max-width: calc(100vw - 30px);
}

.mobileDropdown.coinDrop .dropdown-menu::before {
  right: 156px;
}

nav.bridgeheader.navbar button.navbar-toggler {
  margin-left: auto;
  margin-right: 30px;
}

span.iconColor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

span.iconColor.Goerli {
  background-color: #62688f;
}

span.iconColor.Goerli img, span.iconColor.Polygon img {
  filter: brightness(5);
}

span.iconColor.TBSC {
  background-color: #1c3144;
}

span.iconColor.Polygon {
  background-color: #9a3c8f;
}

.mobFooter {
  display: none;
}

.mobileNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.mobileFooterLink, button#moreDrop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d98a1;
  text-decoration: none;
  gap: 6px;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  transition: .3s ease all;
}

.mobileFooterLink img, button#moreDrop-menu img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

button#moreDrop-menu:after {
  display: none;
}

.mobileFooterLink:hover, 
button#moreDrop-menu:hover, 
.show button#moreDrop-menu {
  color: #000;
}

.mobileFooterLink:hover img, 
.show button#moreDrop-menu img, 
button#moreDrop-menu:hover img {
  filter: brightness(0);
}

.moreDrop.dropdown .dropdown-menu {
  right: -1px !important;
  width: calc(100vw - 29px);
  max-width: 575px;
  margin-bottom: 10px;
}

.moreDrop.dropdown .dropdown-menu::before {
  position: absolute;
  bottom: auto;
  top: 100%;
  transform: rotate(180deg);
  right: 4px;
}

.ListItemFlex {
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
}

.wallet-name{
  width:90px;
  display: flex;
}