/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Responsive */

@media only screen and (max-width: 1450px) {}

/*  (max-width: 1450px) */

@media only screen and (max-width: 1260px) {}

/*  (max-width: 1260px) */

@media only screen and (max-width: 1100px) {}

/*  (max-width: 1100px) */

@media only screen and (max-width: 1199px) {

    
.footer_bottom .row> div:nth-child(2), 
.footer_bottom .row> div:nth-child(3), 
.footer_bottom .row> div:nth-child(4) {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
}


    .footer_bottom,
    section.tokken_a,
    section.home_banar,
    nav.navbar {
        max-height: unset;
    }

    section.home_banar {
        padding: 235px 0 40px;
    }

    h1.page_title {
        font-size: 46px;
        line-height: 1.2;
    }

    .banarContent_top p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .banar_bottom {
        margin-top: 90px;
    }

    ul.social li a {
        margin-right: 20px;
    }

    section.feature_box_area {
        padding: 120px 0 30px;
    }

    .feature_box {
        margin-bottom: 50px;
    }

    section.emmetBridge_area {
        padding: 85px 0 55px 0;
    }

    .EmmetBridge_Box {
        padding: 25px;
    }

    h2 {
        font-size: 34px;
        line-height: 1.2;
    }

    img.apiImg {
        max-width: 100%;
    }

    section.security_area {
        padding: 60px 0 20px 0;
    }

    section.faq_area {
        padding: 80px 0 100px;
    }

}

/* (max-width: 1199px) */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/*  (min-width: 768px) and (max-width: 991px) */

@media only screen and (max-width: 991px) {
    /* .EmmetBridge_Box {
        margin: 0 auto -140px auto;
    } */

    .emmetBridge_content_area {
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 0;
        margin-top: 0;
    }

    section.oneStop_area {
        padding-bottom: 0px;
    }

    section.typeScriot_area {
        padding-bottom: 70px;
    }

    .accordion-button {
        font-size: 18px;
        line-height: 1.2;
    }

    .navbar-nav {
        padding-top: 10px;
    }

    .navbar-collapse .enterApp {
        margin: 10px 0px 20px 20px;
    }

    span.navbar-toggler-icon {
        display: none;
    }

    .navbar-toggler {
        background: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
        padding: 0;
        width: 25px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        background: url("assets/img/nav/bar.svg") no-repeat scroll center / contain;
        border-radius: 0;
        transition: .3s ease all;
    }

    button.navbar-toggler:not(.collapsed) {
        background: url("assets/img/nav/close.svg") no-repeat scroll center / contain;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar>.container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-collapse {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
        height: 100vh;
        /* display: block !important; */
        /* opacity: 1 !important; */
        max-height: 100vh;
        overflow: auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding: 100px 45px 0px 0;
    }

    .navbar-nav a.nav-link {
        max-width: fit-content;
        margin-left: auto;
        padding: 8px 15px !important;
        margin-bottom: 20px;
    }

    .navbar-collapse .enterApp {
        margin-left: auto;
        margin-right: 62px;
        display: flex;
        max-width: fit-content;
    }

    section.emmetBridge_area>div>.row {
        flex-direction: column-reverse;
    }


}

/*and (max-width: 991px)*/

@media only screen and (min-width: 426px) and (max-width: 767px) {}

/* (min-width: 426px) and (max-width: 767px) */

@media only screen and (max-width: 767px) {

    .roadMap_item_content:before,
    .roadMap_item_content:after {
        /* opacity: 0 !important; */
    }

    .activemap .roadMap_item_content:before,
    .activemap .roadMap_item_content:after {
        opacity: 1 !important;
    }


    .roadMap_box {
        margin: 0;
        height: unset;
        background: transparent;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .roadMap_item_content {
        position: relative;
        margin: 0 0 20px 0 !important;
    }

    .roadMap_item {
        width: 50%;
        max-width: unset;
        margin-bottom: 50px;
        padding: 0 20px;
    }

    .activemap .roadMap_item_content {
        margin-bottom: 60px !important;
    }

    .roadMap_box::before,
    .roadMap_box::after {
        display: none;
    }

    section.oneStop_area .title_center {
        margin-bottom: 28px;
    }

    .emmetFrom {
        border-color: #35CE8D;
    }

}

/* and (max-width: 767px) */

@media only screen and (max-width: 575px) {

    img {
        max-width: 100%;
    }

    section.feature_box_area .container .col-lg-3.col-md-6.col-sm-6.col-12 {
        max-width: unset;
    }

    section.feature_box_area {
        padding-top: 80px;
    }

    .roadMap_item {
        width: 100%;
    }

    section.roadMap_area {
        padding: 70px 0 30px 0;
    }

    select#FromToken option {
        padding: 10px;
        text-indent: 5px;
        border-radius: 0;
    }

    section.home_banar {
        padding: 165px 0 40px;
    }

    h1.page_title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }

    .banarContent_top p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    .tokken_item img {
        height: 33px;
    }

    section.tokken_area {
        padding: 5px 15px;
    }

    .feature_box {
        max-width: unset;
    }

    img.feature_img {
        height: 50px;
        margin-bottom: 24px;
    }

    .feature_box h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .feature_box p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    section.emmetBridge_area {
        padding: 20px 0 40px 0;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }

    .accordion-body,
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    
    .accordion-body {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    .emmetBridge_content_area p br {
        display: none;
    }

    .oneStopBox h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        top: -22px;
    }

    .oneStopBox {
        padding: 32px 20px 20px 20px;
    }

    section.oneStop_area .container>.row>div {
        margin-bottom: 40px;
    }

    section.typeScriot_area {
        padding: 60px 0 75px 0;
    }

    nav.navbar {
        border: 0;
        padding: 20px 20px 20px;
    }

    .navbar-brand img {
        width: 125px;
    }

    .banar_bottom {
        margin-top: 60px;
    }

    .banar_area .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    ul.social li a {
        width: 24px;
    }

    .gitUrl {
        font-style: normal;
        font-weight: 700;
        font-size: 0px;
        line-height: 24px;
    }

    .gitUrl img {
        width: 24px;
        margin-right: 0;
    }

    a.readMore {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }

    a.readMore img {
        width: 13px;
    }

    .feature_box {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    section.feature_box_area .col-lg-3.col-md-6.col-sm-6.col-6 {
        margin-bottom: 50px;
    }

    section.feature_box_area a.readMore {
        margin-top: auto;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .text_art:after {
        left: -5px;
        right: -5px;
    }

    ul.dotList li {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    .EmmetBridge_title> img {
        width: 150px;
    }

    .EmmetBridge_Box {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        box-shadow: 0px 0px 32px rgba(28, 49, 68, 0.25);
        border-radius: 16px;
    }

    img.updownCircle {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .accordion-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
    }

    img.apiImg {
        margin-top: 10px;
    }

    section.security_area {
        padding-top: 50px;
    }

    section.security_area .title_center {
        margin-bottom: 20px;
    }

    img.securityImg {
        height: 50px;
        margin-bottom: 15px;
    }

    section.security_area .row {
        margin: 0 -10px;
    }
    
    section.security_area .row> div {
        padding: 0 10px;
    }

    section.security_area .row> div:first-child h3 {width: 50px;}

    .securityBox h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .securityBox {
        margin-bottom: 40px;
    }

    .toAccount h4 {
        font-size: 14px;
        line-height: 1;
    }

    .roadMap_box {
        padding-left: 60px;
        border-left: 2px solid #1C3144;
        margin-left: 20px;
    }
    
    .roadMap_item {
        margin-bottom: 30px;
        padding: 30px 10px;
    }
    
    body div .roadMap_item_content, .activemap .roadMap_item_content {
        margin-bottom: 0 !important;
    }
    
    .roadmapPosition {
        position: absolute;
        left: -80px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    section.roadMap_area {
        padding-bottom: 100px;
    }
    
    .roadMap_item_content:after {
        left: -15px !important;
        top: -30px !important;
        bottom: -30px !important;
        right: auto !important;
        width: 1px !important;
        height: unset !important;
    }
    
    .roadMap_item_content:before {
        right: 100% !important;
        left: auto !important;
        width: 40px !important;
        height: 1px !important;
        margin: 0 !important;
        top: 50% !important;
        margin-right: 14px !important;
    }
    
    section.roadMap_area .title_center {
        margin-bottom: 50px;
    }

    .roadMap_box::before, .roadMap_box::after {
        width: 2px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("assets/img/border-2.png");
        background-size: contain;
        content: "";
        display: block;
        position: absolute;
        top: auto;
        left: -2px;
        bottom: 100%;
    }

    .roadMap_box::before {
        margin-bottom: 7px;
    }
    
    .roadMap_box::after {
        top: 100%;
        bottom: auto;
        margin-top: 7px;
    }

    .roadMap_item.roadMap_item4 {
        margin-bottom: 0 !important;
    }

    section.faq_area {
        padding-top: ;
    }

    section.faq_area {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    section.faq_area .title_center {
        margin-bottom: 30px;
    }

    .footerTopWidget {
        display: block;
    }
    
    .footerTopWidget p {
        font-weight: 700;
        font-size: 10px;
        line-height: 18px;
        margin: 10px 0 0 0;
    }
    
    .footerTopWidget> img {
        height: 24px;
    }

    .footer_bottom {
        padding: 60px 0 3px 0;
    }
    
    .footerWdiget h3 {
        margin-bottom: 20px;
    }
    
    ul.footer_social li a {
        width: 24px;
    }
    
    ul.footer_social li:not(:last-child) {
        margin-right: 15px;
    }
    
    .footerWdiget {
        margin-bottom: 40px;
    }
    
    .copuright {
        padding: 20px 0 30px 0;
    }
    
    .copuright_logo {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .footer_top> .container {
        padding: 0 22px;
    }
    
    .footer_top> .container> .row {
        margin: 0 -10px;
    }
    
    .footer_top> .container> .row> div {
        padding: 0 10px;
    }

    ul.footer_social {
        max-width: 80px;
        flex-wrap: wrap;
    }
    
    ul.footer_social li {
        margin-bottom: 15px;
    }    

}

/* (max-width: 575px) */

@media only screen and (min-width: 320px) and (max-width: 425px) {}

/*  (min-width: 320px) and (max-width: 425px) */

@media only screen and (max-width: 480px) {}

/* (max-width: 480px) */

@media only screen and (max-width: 360px) {}

/* (max-width: 360px)  */